@use "./vars" as *;
@use "./mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  color: var(--white-color);
  background-color: rgb(44, 44, 44);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--gray-light-color);
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;

  @include respond("table") {
    padding-inline: 10px;
  }

  @include respond("mobile") {
    max-width: 350px;
    padding-inline: 20px;
  }
}
