@use "../../../styles/mixins" as *;

.header {
  padding-block: 19px;
  padding-inline: 30px;

  @include respond("table") {
    padding-inline: 18px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    &--logo {
      flex: 1;
      flex-shrink: 0;

      img {
        width: 80px;
        height: 22px;
      }
    }

    &--nav {
      flex: 3;
      display: flex;
      justify-content: space-between;

      @include respond("mobile") {
        display: none;
        overflow: hidden;
      }

      .nav__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
      }

      .nav__link {
        text-decoration: none;
        white-space: nowrap;
        font-weight: 600;
        color: var(--black-color);
        opacity: 1;
        transition: opacity 0.3s linear;
        display: flex;
        gap: 5px;
        align-items: center;
        letter-spacing: -0.64px;

        .nav__count {
          font-size: 10px;
          line-height: 0%;
          font-weight: 600;
          font-size: 9px;
          opacity: 60%;
          letter-spacing: -0.36px;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }

    &--burger {
      flex: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}
