.footer {
  margin-top: auto;
  border-top: 1px solid var(--gray-light-color);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 24px;
  }

  &__copy {
    margin: 0;
    color: var(--gray-dark-color);
    font-size: 0.875rem;
  }
}
