.dot {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
  will-change: transform, opacity;
}
